.content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.active{
    font-size: 25px;
}